* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// margins
$m-100: 0.5rem;
$m-200: 0.75rem;
$m-300: 1rem;
$m-400: 1.25rem;
$m-500: 1.5rem;
$m-600: 2rem;
$m-small-gap: 2rem;
$m-700: 3rem;
$m-800: 4rem;
$m-900: 5rem;
$project-inline: 6vw;
$project-padding: 6rem $project-inline 0rem $project-inline;
$max-content-width: calc(95vw - 2 * $project-inline + 0.5rem);
$col-width: 30.625rem;
$col-width: 44.4375rem;

// colors
$bg-color: #556868;
$overlay-color: #011412;
$font-color: #ffffff;
$quote-color: #001c1c;
$borders-color: $bg-color;
$box-shadow: 0px 0px 0.5rem $borders-color;

button,
button:focus {
    outline: none;
    background: transparent;
    border: 1px solid transparent;
}

button:active {
    outline: none;
    background: transparent;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.quote {
    border-radius: 0.8rem;
    padding: 1.7em 2.4em;
    max-width: 30.125rem;
    display: grid;
    align-items: center;
    margin: $m-small-gap;
    border: 1px solid $borders-color;
    p {
        margin: 0;
    }
    &::before {
        content: '';
        background-color: $quote-color;
        opacity: 90%;
    }
}

p.image-text {
    margin-top: $m-200;
    max-width: $max-content-width;
}

.divider {
    height: 1.0625rem;
    width: 100%;
    background-color: $borders-color;
}

body {
    background-color: $overlay-color;
    font-family: 'K2D', sans-serif;
    position: relative;
    mix-blend-mode: screen;
    overflow-x: hidden;
}
body::before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    color: $font-color;
    max-width: 91vw;
}

h1 {
    font-size: 4.9375rem;
    font-size: 5.5rem;
    margin-bottom: $m-900;
    font-weight: 500;
}

h2 {
    font-size: 3.875rem;
    margin-bottom: $m-900;
}

h3 {
    font-size: 1.8125rem;
    margin-bottom: $m-300;
}

p {
    font-size: 1.25rem;
    margin-bottom: $m-400;
    line-height: 1.25;
    max-width: $max-content-width;
}

p.italic-quote {
    font-style: italic;
    font-size: 1.4375rem;
    font-weight: 200;
    width: 30.625rem;
    max-width: $max-content-width;
}

p.hp-quote-text {
    font-size: 1.625rem;
}

.project {
    section.life-and-career {
        width: 100%;
        position: relative;
        min-height: 100vh;
        h1 {
            padding: $project-padding;
        }
        > img {
            max-width: 87%;
            border: 1px solid $borders-color;
            box-shadow: $box-shadow;
            margin: auto;
            display: block;
        }
        &::before {
            content: '';
            background-image: url(/images/h-p-lovecraft.webp);
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            bottom: 0;
            background-size: contain;
            background-position: right bottom;
            right: calc(-87.5rem + 48vw);
            left: 0;
            z-index: -4;
            scale: 1;
        }
    }
    .life-and-career__columns {
        margin: $project-padding;
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        gap: $m-800;
        padding-bottom: 6rem;
        width: 60%;
        max-width: 1400px;
        max-width: $max-content-width;
        col {
            width: $col-width;
        }
        p {
            max-width: 40rem;
        }
    }
}

html,
body {
    width: 100%;
    height: 100%;
}

section.works {
    padding: $project-padding;
    padding-bottom: $m-900;
    background-size: contain;
    position: relative;
    background-color: $overlay-color;
    background-color: rgba($color: $bg-color, $alpha: 0.055);
    background-image: url(images/tenticle.svg), url(images/bubbles1.svg), url(images/bubbles.svg);
    background-repeat: no-repeat;
    background-position: bottom, top left, bottom right;

    .works__columns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        gap: $m-800;
    }
}

section.cthulhu {
    padding: $project-padding;
    margin: auto;
    position: relative;
    padding-bottom: 1rem;
    h2 {
        text-align: center;
    }
    &::before {
        content: '';
        position: absolute;
        background-image: url(/images/Cthulhu.webp);
        background-repeat: no-repeat;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.05;
        background-size: cover;
    }

    .cthulhu__columns {
        display: flex;
        margin: auto;
        width: fit-content;
        gap: $m-800;
        margin-bottom: $m-800;
        justify-content: center;
        .col-item {
            display: grid;
            gap: $m-600;
        }
        .col-1 {
            max-width: $max-content-width;
            vertical-align: super;
            width: $col-width;
            img {
                margin: auto;
                object-fit: cover;
            }
            .image-text {
                margin-bottom: $m-800;
            }
        }
        p.italic-quote.italic-quote-2 {
            margin-top: $m-800;
        }
        .col-2 {
            max-width: $col-width;
            img {
                width: 100%;
                margin: auto;
                margin-top: $m-800;
                object-fit: cover;
            }
            p.italic-quote {
                width: $col-width;
                max-width: $max-content-width;
                width: 30.625rem;
            }
        }
    }
}

section.quotes {
    min-height: 81.625rem;
    height: 100%;
    padding: $project-padding;
    padding-bottom: 5rem;
    position: relative;
    background: rgb(1, 20, 18);
    background: linear-gradient(180deg, rgb(1, 20, 18, 0) 75.6%, rgba(3, 20, 18, 0.35) 83%),
        radial-gradient(circle, rgb(0 0 0 / 20%) 0%, rgb(0 0 0 / 2%) 47%, rgb(3 50 46 / 20%) 100%);
    &::before {
        content: '';
        background-image: url(/images/HP-LovecraftBG\ 2.webp);
        opacity: 3%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-position-x: 50%;
        background-repeat: no-repeat;
        z-index: 99999;
    }
    .quotes__holder {
        margin-top: 9rem;
        z-index: 10000;
        margin-inline: auto;
    }
    .quotes__wrapper {
        margin: $m-900;
    }
    .quote {
        box-shadow: $box-shadow;
    }
    .quote-2 {
        margin-left: 12rem;
    }
    h2 {
        padding-top: $m-800;
        text-align: center;
    }
    img.back-up {
        position: absolute;
        opacity: 75%;
        right: 1rem;
        bottom: 1rem;
        z-index: 99999;
        &:hover {
            opacity: 95%;
            cursor: pointer;
        }
    }
    img.quotes__bottom-img {
        max-width: 66.25rem;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

//cols
@media only screen and (min-width: 70em) and (max-width: 90em) {
    .project section.works .works__columns {
        grid-template-columns: 1fr 1fr !important;
    }
}
@media only screen and (max-width: 70em) {
    .project section.works .works__columns {
        grid-template-columns: 1fr !important;
    }

    body .project section .life-and-career__columns {
        grid-template-columns: 1fr !important;
    }
}
//

@media only screen and (max-width: 98.4em) {
    body .project section.cthulhu .cthulhu__columns {
        flex-wrap: wrap;
        p:not(.image-text) {
            margin-inline: auto;
            margin-bottom: $m-600;
            width: 100%;
        }
    }
    p.italic-quote {
        margin-bottom: $m-800;
    }
    section.cthulhu .col-2 {
        img {
            width: 100% !important;
        }
    }
    section.quotes {
        margin-inline: 0;
    }
    section.quotes::before {
        content: '';
        background-size: cover !important;
    }
}

@media only screen and (max-width: 86.2em) {
    .project section.life-and-career::before {
        display: none;
    }
    .project section.life-and-career img {
        display: block !important;
        width: 100%;
    }
    .life-and-career__columns {
        width: 100% !important;
        p {
            width: 100% !important;
            max-width: 100% !important;
        }
    }
    .cthulhu__columns {
        margin: auto;
        width: 100% !important;
    }
    section.cthulhu h2 {
        width: $col-width;
        margin-inline: auto;
    }
    col {
        width: $col-width !important;
    }
    p.italic-quote-2 {
        margin-bottom: 0 !important;
    }
    img.quotes__bottom-img {
        display: none;
    }
    section.quotes .quotes__wrapper {
        margin-inline: auto !important;
    }
    .quote {
        margin-inline: auto !important;
    }
    section.cthulhu .col-2 img {
        width: 100% !important;
    }
}

@media only screen and (min-width: 56.25em) {
    .project section.life-and-career > img {
        display: none;
    }
    .life-and-career__columns {
        grid-template-columns: 1fr 1fr !important;
    }
}

@media only screen and (max-width: 37.5em) {
    h1 {
        font-size: min(5.5rem, calc(10vw + 2rem));
    }
    h2 {
        font-size: min(3.875rem, calc(7vw + 1rem));
    }
}
