*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
button:focus {
  outline: none;
  background: transparent;
  border: 1px solid transparent;
}

body {
  background-color: hsl(177, 90%, 3%);
  font-family: "K2D", sans-serif;
  position: relative;
  mix-blend-mode: screen;
  overflow-x: hidden;
}

body::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button:active {
  outline: none;
  background: transparent;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

.quote {
  border-radius: 0.8rem;
  padding: 1.7em 2.4em;
  max-width: 30.125rem;
  display: grid;
  align-items: center;
  margin: 2rem;
  border: 1px solid #556868;
}
.quote p {
  margin: 0;
}
.quote::before {
  content: "";
  background-color: #001c1c;
  opacity: 90%;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
}

p.image-text {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  max-width: calc(83vw + 0.5rem);
}

.divider {
  height: 0.4rem;
  width: 100%;
  background-color: #556868;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  color: hsl(0, 0%, 90%);
  color: rgba(230, 230, 230, 0.92);
  max-width: 91vw;
  z-index: 999999;
}

h1 {
  font-size: 4.9375rem;
  font-size: 5.5rem;
  margin-bottom: 5rem;
  font-weight: 500;
}

h2 {
  font-size: 3.875rem;
  margin-bottom: 5rem;
}

h3 {
  font-size: 1.8125rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
  line-height: 1.3;
  max-width: calc(83vw + 0.5rem);
}

p.italic-quote {
  font-style: italic;
  font-size: 1.4375rem;
  font-weight: 200;
  width: 30.625rem;
  max-width: calc(83vw + 0.5rem);
}

p.hp-quote-text {
  font-size: 1.625rem;
  z-index: 99999;
}

.project section.life-and-career {
  width: 100%;
  position: relative;
  min-height: 100vh;
}
.project section.life-and-career h1 {
  padding: 6rem 6vw 0rem 6vw;
}
.project section.life-and-career > img {
  max-width: 87%;
  border: 1px solid #556868;
  box-shadow: 0px 0px 0.5rem #556868;
  margin: auto;
  display: block;
}
.project section.life-and-career::before {
  content: "";
  background-image: url(/images/h-p-lovecraft.webp);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  background-size: contain;
  background-position: right bottom;
  right: calc(-87.5rem + 48vw);
  left: 0;
  z-index: -4;
  scale: 1;
}
.project .life-and-career__columns {
  margin: 6rem 6vw 0rem 6vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 4rem;
  padding-bottom: 6rem;
  width: 56%;
  max-width: 1400px;
  max-width: calc(83vw + 0.5rem);
}
.project .life-and-career__columns col {
  width: 44.4375rem;
}
.project .life-and-career__columns p {
  max-width: 40rem;
}

section.works {
  padding: 6rem 6vw 0rem 6vw;
  padding-bottom: 5rem;
  background-size: contain;
  position: relative;
  background-color: hsl(177, 90%, 3%);
  background-color: rgba(85, 104, 104, 0.055);
  background-image: url(images/tenticle.svg), url(images/bubbles1.svg), url(images/bubbles.svg);
  background-repeat: no-repeat;
  background-position: bottom, top left, bottom right;
}
section.works .works__columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  gap: 4rem;
}

section.cthulhu {
  padding: 6rem 6vw 0rem 6vw;
  margin: auto;
  position: relative;
  padding-bottom: 1rem;
}
section.cthulhu h2 {
  text-align: center;
}
section.cthulhu::before {
  content: "";
  position: absolute;
  background-image: url(/images/Cthulhu.webp);
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.05;
  background-size: cover;
}
section.cthulhu .cthulhu__columns {
  display: flex;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  gap: 4rem;
  margin-bottom: 4rem;
  justify-content: center;
}
section.cthulhu .cthulhu__columns .col-item {
  display: grid;
  gap: 2rem;
}
section.cthulhu .cthulhu__columns .col-1 {
  max-width: calc(83vw + 0.5rem);
  vertical-align: super;
  width: 44.4375rem;
}
section.cthulhu .cthulhu__columns .col-1 img {
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
section.cthulhu .cthulhu__columns .col-1 .image-text {
  margin-bottom: 4rem;
}
section.cthulhu .cthulhu__columns p.italic-quote.italic-quote-2 {
  margin-top: 4rem;
}
section.cthulhu .cthulhu__columns .col-2 {
  max-width: 44.4375rem;
}
section.cthulhu .cthulhu__columns .col-2 img {
  width: 100%;
  margin: auto;
  margin-top: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
}
section.cthulhu .cthulhu__columns .col-2 p.italic-quote {
  width: 44.4375rem;
  max-width: calc(83vw + 0.5rem);
  width: 30.625rem;
}

section.quotes {
  min-height: 81.625rem;
  height: 100%;
  padding: 6rem 6vw 0rem 6vw;
  padding-bottom: 5rem;
  position: relative;
  background: rgb(1, 20, 18);
  background: linear-gradient(180deg, rgba(1, 20, 18, 0) 75.6%, rgba(3, 20, 18, 0.35) 83%), radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.02) 47%, rgba(3, 50, 46, 0.2) 100%);
}
section.quotes::before {
  content: "";
  background-image: url(/images/HP-LovecraftBG\ 2.webp);
  opacity: 4%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position-x: 50%;
  background-repeat: no-repeat;
  z-index: 99999;
}
section.quotes .quotes__holder {
  margin-top: 9rem;
  z-index: 10000;
  margin-inline: auto;
}
section.quotes .quotes__wrapper {
  margin: 5rem;
}
section.quotes .quote {
  box-shadow: 0px 0px 0.5rem #556868;
}
section.quotes .quote-2 {
  margin-left: 12rem;
}
section.quotes h2 {
  padding-top: 4rem;
  text-align: center;
}
section.quotes img.back-up {
  position: absolute;
  opacity: 75%;
  right: 1rem;
  bottom: 1rem;
  z-index: 99999;
}
section.quotes img.back-up:hover {
  opacity: 95%;
  cursor: pointer;
}
section.quotes img.quotes__bottom-img {
  max-width: 66.25rem;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media only screen and (min-width: 70em) and (max-width: 90em) {
  .project section.works .works__columns {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media only screen and (max-width: 70em) {
  .project section.works .works__columns {
    grid-template-columns: 1fr !important;
  }
  body .project section .life-and-career__columns {
    grid-template-columns: 1fr !important;
  }
}
@media only screen and (max-width: 98.4em) {
  body .project section.cthulhu .cthulhu__columns {
    flex-wrap: wrap;
  }
  body .project section.cthulhu .cthulhu__columns p:not(.image-text) {
    margin-inline: auto;
    margin-bottom: 2rem;
    width: 100%;
  }
  p.italic-quote {
    margin-bottom: 4rem;
  }
  section.cthulhu .col-2 img {
    width: 100% !important;
  }
  section.quotes {
    margin-inline: 0;
  }
  section.quotes::before {
    content: "";
    background-size: cover !important;
  }
}
@media only screen and (max-width: 86.2em) {
  .project section.life-and-career::before {
    display: none;
  }
  .project section.life-and-career img {
    display: block !important;
    width: 100%;
  }
  .life-and-career__columns {
    width: 100% !important;
  }
  .life-and-career__columns p {
    width: 100% !important;
    max-width: 100% !important;
  }
  .cthulhu__columns {
    margin: auto;
    width: 100% !important;
  }
  section.cthulhu h2 {
    width: 44.4375rem;
    margin-inline: auto;
  }
  col {
    width: 44.4375rem !important;
    z-index: 999999 !important;
  }
  p.italic-quote-2 {
    margin-bottom: 0 !important;
  }
  img.quotes__bottom-img {
    display: none;
  }
  section.quotes .quotes__wrapper {
    margin-inline: auto !important;
  }
  .quote {
    margin-inline: auto !important;
  }
  section.cthulhu .col-2 img {
    width: 100% !important;
  }
}
@media only screen and (min-width: 56.25em) {
  .project section.life-and-career > img {
    display: none;
  }
  .life-and-career__columns {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media only screen and (max-width: 37.5em) {
  h1 {
    font-size: min(5.5rem, 10vw + 2rem);
  }
  h2 {
    font-size: min(3.875rem, 7vw + 1rem);
  }
}/*# sourceMappingURL=style.css.map */